pre code .hll { background-color: #ffffcc }
pre code  { background: #000000; color: #f6f3e8; background-color: #000000 }
pre code .c { color: #7C7C7C; background-color: #000000 } /* Comment */
pre code .err { color: #f6f3e8; background-color: #000000 } /* Error */
pre code .esc { color: #f6f3e8; background-color: #000000 } /* Escape */
pre code .g { color: #f6f3e8; background-color: #000000 } /* Generic */
pre code .k { color: #6699CC; background-color: #000000 } /* Keyword */
pre code .l { color: #f6f3e8; background-color: #000000 } /* Literal */
pre code .n { color: #f6f3e8; background-color: #000000 } /* Name */
pre code .o { color: #f6f3e8; background-color: #000000 } /* Operator */
pre code .x { color: #f6f3e8; background-color: #000000 } /* Other */
pre code .p { color: #f6f3e8; background-color: #000000 } /* Punctuation */
pre code .cm { color: #7C7C7C; background-color: #000000 } /* Comment.Multiline */
pre code .cp { color: #96CBFE; background-color: #000000 } /* Comment.Preproc */
pre code .c1 { color: #7C7C7C; background-color: #000000 } /* Comment.Single */
pre code .cs { color: #7C7C7C; background-color: #000000 } /* Comment.Special */
pre code .gd { color: #f6f3e8; background-color: #000000 } /* Generic.Deleted */
pre code .ge { color: #f6f3e8; background-color: #000000 } /* Generic.Emph */
pre code .gr { color: #ffffff; background-color: #ff0000 } /* Generic.Error */
pre code .gh { color: #f6f3e8; font-weight: bold; background-color: #000000 } /* Generic.Heading */
pre code .gi { color: #f6f3e8; background-color: #000000 } /* Generic.Inserted */
pre code .go { color: #070707; background-color: #000000 } /* Generic.Output */
pre code .gp { color: #f6f3e8; background-color: #000000 } /* Generic.Prompt */
pre code .gs { color: #f6f3e8; background-color: #000000 } /* Generic.Strong */
pre code .gu { color: #f6f3e8; font-weight: bold; background-color: #000000 } /* Generic.Subheading */
pre code .gt { color: #ffffff; font-weight: bold; background-color: #FF6C60 } /* Generic.Traceback */
pre code .kc { color: #6699CC; background-color: #000000 } /* Keyword.Constant */
pre code .kd { color: #6699CC; background-color: #000000 } /* Keyword.Declaration */
pre code .kn { color: #6699CC; background-color: #000000 } /* Keyword.Namespace */
pre code .kp { color: #6699CC; background-color: #000000 } /* Keyword.Pseudo */
pre code .kr { color: #6699CC; background-color: #000000 } /* Keyword.Reserved */
pre code .kt { color: #FFFFB6; background-color: #000000 } /* Keyword.Type */
pre code .ld { color: #f6f3e8; background-color: #000000 } /* Literal.Date */
pre code .m { color: #FF73FD; background-color: #000000 } /* Literal.Number */
pre code .s { color: #A8FF60; background-color: #000000 } /* Literal.String */
pre code .na { color: #FFD2A7; background-color: #000000 } /* Name.Attribute */
pre code .nb { color: #f6f3e8; background-color: #000000 } /* Name.Builtin */
pre code .nc { color: #f6f3e8; background-color: #000000 } /* Name.Class */
pre code .no { color: #99CC99; background-color: #000000 } /* Name.Constant */
pre code .nd { color: #f6f3e8; background-color: #000000 } /* Name.Decorator */
pre code .ni { color: #E18964; background-color: #000000 } /* Name.Entity */
pre code .ne { color: #f6f3e8; background-color: #000000 } /* Name.Exception */
pre code .nf { color: #FFD2A7; background-color: #000000 } /* Name.Function */
pre code .nl { color: #f6f3e8; background-color: #000000 } /* Name.Label */
pre code .nn { color: #f6f3e8; background-color: #000000 } /* Name.Namespace */
pre code .nx { color: #f6f3e8; background-color: #000000 } /* Name.Other */
pre code .py { color: #f6f3e8; background-color: #000000 } /* Name.Property */
pre code .nt { color: #6699CC; background-color: #000000 } /* Name.Tag */
pre code .nv { color: #C6C5FE; background-color: #000000 } /* Name.Variable */
pre code .ow { color: #ffffff; background-color: #000000 } /* Operator.Word */
pre code .w { color: #f6f3e8; background-color: #000000 } /* Text.Whitespace */
pre code .mb { color: #FF73FD; background-color: #000000 } /* Literal.Number.Bin */
pre code .mf { color: #FF73FD; background-color: #000000 } /* Literal.Number.Float */
pre code .mh { color: #FF73FD; background-color: #000000 } /* Literal.Number.Hex */
pre code .mi { color: #FF73FD; background-color: #000000 } /* Literal.Number.Integer */
pre code .mo { color: #FF73FD; background-color: #000000 } /* Literal.Number.Oct */
pre code .sb { color: #A8FF60; background-color: #000000 } /* Literal.String.Backtick */
pre code .sc { color: #A8FF60; background-color: #000000 } /* Literal.String.Char */
pre code .sd { color: #A8FF60; background-color: #000000 } /* Literal.String.Doc */
pre code .s2 { color: #A8FF60; background-color: #000000 } /* Literal.String.Double */
pre code .se { color: #A8FF60; background-color: #000000 } /* Literal.String.Escape */
pre code .sh { color: #A8FF60; background-color: #000000 } /* Literal.String.Heredoc */
pre code .si { color: #A8FF60; background-color: #000000 } /* Literal.String.Interpol */
pre code .sx { color: #A8FF60; background-color: #000000 } /* Literal.String.Other */
pre code .sr { color: #A8FF60; background-color: #000000 } /* Literal.String.Regex */
pre code .s1 { color: #A8FF60; background-color: #000000 } /* Literal.String.Single */
pre code .ss { color: #A8FF60; background-color: #000000 } /* Literal.String.Symbol */
pre code .bp { color: #f6f3e8; background-color: #000000 } /* Name.Builtin.Pseudo */
pre code .vc { color: #C6C5FE; background-color: #000000 } /* Name.Variable.Class */
pre code .vg { color: #C6C5FE; background-color: #000000 } /* Name.Variable.Global */
pre code .vi { color: #C6C5FE; background-color: #000000 } /* Name.Variable.Instance */
pre code .il { color: #FF73FD; background-color: #000000 } /* Literal.Number.Integer.Long */
